//- includes/head.jad

head
  title DPN Intake Overview
  link(href='/css/site.css', rel='stylesheet', type='text/css')
  link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css", rel='stylesheet', type='text/css')
  script(src="https://code.jquery.com/jquery-3.1.0.min.js", type='text/javascript')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js", type='text/javascript')
