doctype html
html(lang="en")
  include ../includes/head.jade
  body
    header
      nav.blue-grey.darken-2
        div.container
          div.nav-wrapper
            a.brand-logo Status Overview
            ul#nav-mobile.right.hide-on-med-and-down
              li: a(href="#") Home
              li: a(href="/syncs") Syncs
              li: a(href="/replications") Replications
    div.container
      div.row
        table.narrow.bordered.highlight
          thead
            tr
              th(style="width: 1%") Status
              th Host
              th Type
              th Details
          tbody
            each sync in syncs
              tr
                if sync.status == "SUCCESS"
                  td.green.accent-2 #{sync.status}
                else
                  td.red #{sync.status}
                td=sync.host
                td=sync.type
                td: a(href="syncs/" + sync.id) placeholder


